@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color:white;
}
.hero{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.8576680672268908) 11%, rgba(0,0,0,1) 99%);
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1001;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity to control the blur effect */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1000;
}
