@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color:white;
}
.hero{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.8576680672268908) 11%, rgba(0,0,0,1) 99%);
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1001;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity to control the blur effect */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1000;
}

.loading-animation {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: auto;
}

.loader .loading-animation div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: orange;
  animation: loading 0.8s infinite alternate;
}

@keyframes loading {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

.dot1 {
  animation-delay: -0.32s;
}

.dot2 {
  animation-delay: -0.16s;
}

.dot3 {
  animation-delay: 0s;
}

.dot4 {
  animation-delay: 0.16s;
}


/* Steps.css */
.step-card {
  width: 250px;
  height: 250px;
  border: 1px solid #ffffff;
  border-opacity: 0.2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}

.step-icon {
  background-color: rgba(192, 192, 192, 0.2);
  border-radius: 50%;
  padding: 16px;
}

.step-content {
  text-align: center;
}

@media (max-width: 768px) {
  .step-card {
    width: 100%;
  }
}
